* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background-image: url(https://images.unsplash.com/photo-1702276125956-18295ebdb086?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}
.menu {
  background: #025464;
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
}
.logo {
  background: #e57c23;
  flex: 1 1 auto;
}
a {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  background: hsl(28, 79%, 52%);
  flex: 5 1 auto;
}
.social {
  background: #e57c23;
  flex: 1 1 auto;
}
.texto-principal {
  background: #e8aa42;
}
h1 {
  background: #fffb73;
}
.section {
  background: #000;
  display: flex;
}
.articulos {
  background: #3d30a2;
  display: flex;
  flex: 2 1 auto;
  flex-flow: row wrap;
}
.article {
  background: #da138d;
  flex: 1 1 40%;
}
.navegacion {
  background: #a0e9ff;
  flex: 1 1 100%;
}
.aside {
  background: #be3144;
  flex: 1 1 auto;
}
.publicidad {
  background: #eef296;
}
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}
.pie {
  background: #9ade7b;
  width: 300px;
}
@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media all and(max-width: 600px) {
  .articulos {
    flex-direction: column;
  }
}
